<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>72試合管理 - 試合結果</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>試合結果</h1>
    <ul>
        {% for match in matches %}
        <li>
            {{ match[0].name }} (レベル: {{ match[0].level }}) & {{ match[1].name }} (レベル: {{ match[1].level }}) 
            vs 
            {{ match[2].name }} (レベル: {{ match[2].level }}) & {{ match[3].name }} (レベル: {{ match[3].level }})
        </li>
        {% endfor %}
    </ul>
    <a href="/">戻る</a>
</body>
</html>
